extends ../../layouts/admin

block content
  h1= title

  form(action="/admin/rooms", data-remote=true, method="post")
    input(type="text", name="name")
    |
    button(type="submit") Invia
  
  div.rooms
    ul
      each room in rooms
        li
          a(href=`/admin/rooms/${room._id}`) #{room.name}
          |
          |
          a(href=`/admin/rooms/${room._id}`, data-method="delete", data-remote="true") x