extends layout

block content
  h1= title

  div.appointments
    ul
      each appointment in appointments
        li
          span= appointment.date
          |
          |
          a(href=`/appointments/${appointment._id}`) #{appointment.summary}
          |
          |
          a(href=`/appointments/${appointment._id}`, data-method="delete", data-remote="true") x
          |
          |
          a(href=`/appointments/${appointment._id}/waitingroom`) test sala d'attesa