mixin button(text, color='white', background='indigo', px=8, py=2)
  button(class=`text-${color} bg-${background}-500 border-0 py-${py} px-${px} focus:outline-none hover:bg-${background}-600 rounded text-lg`)&attributes(attributes) #{text}
