mixin form_control(field, type, label)
    <div class="relative sm:mr-4 mb-4 sm:mb-0 flex-grow w-full">
        label(for=field class="leading-7 text-sm text-gray-600") #{label}
        input(type=type id=field name=field class="w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out")
    </div>